<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CNG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>G711.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>G722.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NetEq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>NetEq4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>PCM16B.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>acm2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>audio_coding_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>audio_conference_mixer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>audio_device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>audio_processing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>audio_processing_neon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>audio_processing_offsets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>bitrate_controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>desktop_capture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>iLBC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>iSAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>iSACFix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>isac_neon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>media_file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>paced_sender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>remote_bitrate_estimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>rtp_rtcp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>video_capture_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>video_processing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>video_render_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>webrtc_i420.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>webrtc_opus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>webrtc_utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>webrtc_video_coding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BB254FA1FF7FAC1BA5EFF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2C22351C44CB4C0E7E56EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13087D13BE0A23AC39557575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197D848EEA906BE7BF22A5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C97E742D6FFC54A7088932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AED72455056544471C54FAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3951678F0C7E1BC5DC0F68C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DBE00764CD46B607B3DB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50AED2E8BBE4E2BFA9E072D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF45D66982B3CACD6A440FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E029B0C22370ABB8128212D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D9D6F61B1EF42FD8E12A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7354B33C7C6BD20BD206FD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE828FDC4766075645F7183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AB18584C9C4BA6FAE738E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D27286EF88CCC3AB7C47DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E0C163EA198E299D3D2534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99657D96FF89F0429787625E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F34E5F6E549F605335C683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9D6076BEA9AC39816E5FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2AE8A56386E1BDDB42075C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A0643AFA262FC6A3CE8661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8A37A1546507B723C70CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3E9A686019AA1AD7E8DF1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48A3D6B66CEF75C3942266E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABE4C4470CADEC4591094D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFFB84325BE5BC43CF2EF26D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6ECF7A2047F7539E9A0B4E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E729ED26D049DF424B09419A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAE6309149E1A665CC38D2CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F969376579EA69A4B00A9F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
