<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>245</integer>
		</dict>
		<key>Run tools_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>254</integer>
		</dict>
		<key>force_mic_volume_max.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>252</integer>
		</dict>
		<key>frame_analyzer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>247</integer>
		</dict>
		<key>frame_editing_lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>250</integer>
		</dict>
		<key>frame_editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>251</integer>
		</dict>
		<key>psnr_ssim_analyzer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>248</integer>
		</dict>
		<key>rgba_to_i420_converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>249</integer>
		</dict>
		<key>tools_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>253</integer>
		</dict>
		<key>video_quality_analysis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>246</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15152578E9A090A459412F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F04AA66F6ECB601385D8625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F44938AE7CE721EC5B1ADF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9505397A2FDBEE8BBAC0FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FFFED8BCF69C77523690551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48FBA89E444446AAD9923564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80AFB245A585252EA465DED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A398B92E20518F20B8BF08FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6728B4C855BCCF35E005DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC154FA4D14DEB370446A786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
