<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>CNG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>G711.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>G722.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>G722Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>NetEq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>NetEq4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>NetEq4TestTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>171</integer>
		</dict>
		<key>NetEqRTPplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>NetEqTestTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>PCM16B.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>RTPanalyze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>RTPcat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>167</integer>
		</dict>
		<key>RTPchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
		<key>RTPencode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>RTPjitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>RTPtimeshift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>Run All Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>Run RTPanalyze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>Run RTPcat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>168</integer>
		</dict>
		<key>Run RTPchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>164</integer>
		</dict>
		<key>Run RTPjitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>Run RTPtimeshift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
		<key>Run audio_decoder_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>Run audio_device_test_func.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>175</integer>
		</dict>
		<key>Run audio_device_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>173</integer>
		</dict>
		<key>Run audioproc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>Run delay_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>Run insert_packet_with_timing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>Run modules_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>Run modules_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>Run neteq_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>Run test_packet_masks_metrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>Run video_capture_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>181</integer>
		</dict>
		<key>Run video_coding_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>acm2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>audio_coding_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>audio_conference_mixer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>audio_decoder_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>audio_device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>audio_device_test_func.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>174</integer>
		</dict>
		<key>audio_device_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>172</integer>
		</dict>
		<key>audio_processing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>audio_processing_sse2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>178</integer>
		</dict>
		<key>audioproc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>audioproc_debug_proto Support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>177</integer>
		</dict>
		<key>audioproc_debug_proto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>176</integer>
		</dict>
		<key>audioproc_unittest_proto Support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>audioproc_unittest_proto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>bitrate_controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>delay_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>desktop_capture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>desktop_capture_differ_sse2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>179</integer>
		</dict>
		<key>g711_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>iLBC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>iLBCtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>iSAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>iSACAPITest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>iSACFix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>iSACFixtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>iSACSwitchSampRateTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>iSACtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>insert_packet_with_timing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>media_file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>modules_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>modules_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>neteq3_speed_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>neteq4_speed_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
		<key>neteq_rtpplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>157</integer>
		</dict>
		<key>neteq_unittest_tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>neteq_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>paced_sender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>remote_bitrate_estimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>rtp_rtcp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>rtp_to_text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>169</integer>
		</dict>
		<key>test_framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>test_packet_masks_metrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>unpack_aecdump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>video_capture_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>video_capture_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>180</integer>
		</dict>
		<key>video_codecs_test_framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>video_coding_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>video_processing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>video_processing_sse2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>182</integer>
		</dict>
		<key>video_quality_measurement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>video_render_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>video_render_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>183</integer>
		</dict>
		<key>webrtc_i420.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>webrtc_opus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>webrtc_utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>webrtc_video_coding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0138E3944AC1B49BA135364E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>069082D33E97B11B60EDD68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>086E0F214D0FC74977DB5855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0887140C7207853468A95109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0924EFC882682A2AC34B90DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB254FA1FF7FAC1BA5EFF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2C22351C44CB4C0E7E56EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F64EEA2161424511997FAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13087D13BE0A23AC39557575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13AAA229AB6D9D333B9BA343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197D848EEA906BE7BF22A5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1C524DBC74A43A4D08D688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B7198CA8C6FA4F378FFE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24FB8157C4649E64B7146F60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C97E742D6FFC54A7088932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C8C75A1F03F6EECC5600E28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D85FF36BB9BA8E4A477865E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3951678F0C7E1BC5DC0F68C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C77F84BB82AF79A4131BD3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DBE00764CD46B607B3DB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>436797477309B1EBD929F22E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BAC9B53A2BEF88EDA752F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD901D59F33975617D660F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5099F52F304DE7B9192E9F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50AED2E8BBE4E2BFA9E072D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53DCC3B2118B01CA2526BFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55A6C0F953CFA6915585EDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AEB14E62204DE8D01143E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF45D66982B3CACD6A440FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FB6C0A916BFB60213367DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64019BF41B13847A85299E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BA573B2FB0B90A6BBE2C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B68978D06421C82318723C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E029B0C22370ABB8128212D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7354B33C7C6BD20BD206FD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76435783C69ED123889AEE7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A42C8A5C259E064CC2F6F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F0C7E0F897B1E4053C6FEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE828FDC4766075645F7183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>806D1E805FEEB384DE72EAF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85D576835936DCF7699AC4D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C790E76EFE18B2A504E801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A84185A7E5D8EB5AA06DB56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AB18584C9C4BA6FAE738E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D27286EF88CCC3AB7C47DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9370CE7F1BE71ADB4C8E5E1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96880E3D82F94407EADED817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96982EA4BA2C8A854B33DA38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E0C163EA198E299D3D2534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99657D96FF89F0429787625E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A413A9657D87F329C212B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E943910DE1CE80D081DF9D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F84EFA234A5D2B08FF49063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F898E1102788AFCAFB491A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB69710DE06AD938C8E6E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A117D4EA8FE24A3266E43393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F34E5F6E549F605335C683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8101B6D7F3CAF6884AC6340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AADD9C8E0EBF0242092328D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9D6076BEA9AC39816E5FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC66BEE7520894F8A1E4419F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A7DF97788430415F3575D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B84B72363EE18232191CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2AE8A56386E1BDDB42075C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A0643AFA262FC6A3CE8661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E1009564E4DBFDEEAD8881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8A37A1546507B723C70CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3E9A686019AA1AD7E8DF1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C22A67CD2F4F13F31ABFF680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6ED76899A06B32C2A397D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7F193EAEFA947AE4057736D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAA31AAB3F7920112607BE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAE2BC698271058AF7B1C8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D417083374534368F2FDF507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A2C476036A848945D7C508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABE4C4470CADEC4591094D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8568D276F875B718A38F6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D868526C5BD3D34D6F9C5EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAFA4AE2C5D0EDA2F000F562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA35B5729C33941AE14D8BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFFB84325BE5BC43CF2EF26D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1A1861C9BD9AE49895FE282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6ECF7A2047F7539E9A0B4E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E729ED26D049DF424B09419A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA57B3C7736193487FCBB76B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAE6309149E1A665CC38D2CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF3A72926B8632F4EC21397E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F26F861877FB50127B46EBFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50FE5FE66C08A3DF16302CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80959ABE255962A1DB114A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F969376579EA69A4B00A9F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
