<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Run system_wrappers_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>244</integer>
		</dict>
		<key>system_wrappers_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>243</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>691F5FB95B7099F7FC42A1BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA2EEDEA96323499AE234AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
