<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>Run common_video_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>common_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>common_video_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>frame_generator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3346C5F68ABABDEA17251148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A504E94E8D8803755006966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7BFBE130B42EB6D24D4F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BEA7BE47EEC87759417906A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F029F163F7B67C0897D34B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
