<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>CNG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>G711.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>G722.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>NetEq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>NetEq4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>PCM16B.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>acm2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>audio_coding_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>audio_conference_mixer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>audio_device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>audio_processing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>audio_processing_sse2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>audioproc_debug_proto Support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>audioproc_debug_proto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>bitrate_controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>desktop_capture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>desktop_capture_differ_sse2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>iLBC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>iSAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>iSACFix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>media_file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>paced_sender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>remote_bitrate_estimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>rtp_rtcp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>video_capture_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>video_processing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>video_processing_sse2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>video_render_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>webrtc_i420.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>webrtc_opus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>webrtc_utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>webrtc_video_coding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BB254FA1FF7FAC1BA5EFF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2C22351C44CB4C0E7E56EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13087D13BE0A23AC39557575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197D848EEA906BE7BF22A5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C97E742D6FFC54A7088932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3951678F0C7E1BC5DC0F68C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DBE00764CD46B607B3DB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50AED2E8BBE4E2BFA9E072D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF45D66982B3CACD6A440FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FB6C0A916BFB60213367DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BA573B2FB0B90A6BBE2C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E029B0C22370ABB8128212D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7354B33C7C6BD20BD206FD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE828FDC4766075645F7183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AB18584C9C4BA6FAE738E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D27286EF88CCC3AB7C47DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96880E3D82F94407EADED817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E0C163EA198E299D3D2534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99657D96FF89F0429787625E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F34E5F6E549F605335C683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9D6076BEA9AC39816E5FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2AE8A56386E1BDDB42075C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A0643AFA262FC6A3CE8661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8A37A1546507B723C70CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3E9A686019AA1AD7E8DF1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAA31AAB3F7920112607BE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABE4C4470CADEC4591094D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D868526C5BD3D34D6F9C5EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFFB84325BE5BC43CF2EF26D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6ECF7A2047F7539E9A0B4E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E729ED26D049DF424B09419A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAE6309149E1A665CC38D2CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F969376579EA69A4B00A9F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
